{% load staticfiles %}
    <script src="{% static 'testadmin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'testadmin/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'testadmin/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'testadmin/js/plugins/layer/layer.min.js' %}"></script>
    <script src="{% static 'testadmin/js/hplus.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'testadmin/js/contabs.min.js' %}"></script>
    <script src="{% static 'testadmin/js/plugins/pace/pace.min.js' %}"></script>
    </body>
</html>