{% include 'testadmin/top.html'%}
<script>
		setTimeout(function disappear(){document.getElementById("info").style.display="none";},3000);
		//1000是多久被隐藏，单位毫秒
</script>
</head>
 <body class="gray-bg">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>测试用例详情 <small></small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="form_basic.html#">选项1</a>
                            </li>
                            <li><a href="form_basic.html#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="/testadmin/modifyTestCase">
                         {% csrf_token %}
                        <input type="hidden" name="id" value="{{post.id}}">
                        <div class="form-group">
                            {% if info %}
                                <p id="info" align="center" style="background:#66CCFF;color:red">修改成功</p>
                            {% endif %}
                            <label class="col-sm-2 control-label">* 项目名</label>
                            <div class="col-sm-5">
                                <input type="text" name="project_name"  value="{{post.project_name}}"  class="form-control">
                                <span class="help-block m-b-none">{{form.project_name.errors}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">* 编号</label>
                            <div class="col-sm-5">
                                <input type="text" name="number"  value="{{post.number}}"  class="form-control">
                                <span class="help-block m-b-none">{{form.number.errors}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">* 模块</label>
                            <div class="col-sm-5">
                                <input type="text" name="function_model" value="{{post.function_model}}" class="form-control">
                                <span class="help-block m-b-none">{{form.function_model.errors}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">* 标题</label>
                            <div class="col-sm-5">
                                <input type="text" name="title" value="{{post.title}}" class="form-control">
                                <span class="help-block m-b-none">{{form.title.errors}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">* 前置条件</label>
                            <div class="col-sm-5">
                                <textarea  name="precondition"  class="form-control">{{post.precondition}}</textarea>
                                <span class="help-block m-b-none">{{form.precondition.errors}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">* 用例执行步骤</label>
                            <div class="col-sm-5">
                                <textarea  name="procedure"  class="form-control" style=" height: 190px;">{{post.procedure}}</textarea>
                                <span class="help-block m-b-none">{{form.procedure.errors}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">* 预期结果</label>
                            <div class="col-sm-5">
                                <textarea  name="ex_result"  class="form-control">{{post.ex_result}}</textarea>
                                <span class="help-block m-b-none">{{form.ex_result.errors}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">* 实际结果</label>
                            <div class="col-sm-5">
                                <textarea  name="pr_result"  class="form-control">{{post.pr_result}}</textarea>
                                <span class="help-block m-b-none">{{form.pr_result.errors}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">* 测试结果</label>
                            <div class="col-sm-5">
                                <textarea  name="test_result"  class="form-control">{{post.test_result}}</textarea>
                                <span class="help-block m-b-none">{{form.test_result.errors}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">* 用例优先级</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" name="grade">
                                    <option value="中">中</option>
                                    <option value="高">高</option>
                                    <option value="低">低</option>
                                </select>
                                <span class="help-block m-b-none">{{form.grade.errors}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">修改</button>
                                <a class="btn btn-primary" href="/testadmin/queryTestCase/{{post.id}}">取消</a>
                                <a class="btn btn-primary" href="/testadmin/deleteTestCase/{{post.id}}">删除</a>
                                <a class="btn btn-primary" href="/testadmin/testCase">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% include 'testadmin/bottom.html'%}